<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>d_selectOne.html</title>
</head>
<body>
<h1>배송 조회 상세</h1>

		<div>
			<table id="insertTable">
				<tr>
					<td>배송추적번호</td>
					<td th:text="${vo2.tracking_num}"></td>					
				</tr>
				<tr>
				<td>배송상태</td>
				<td th:text="${vo2.delivery_status}"></td>
				</tr>
				<tr>
					<td>배송사</td>
					<td th:text="${vo2.courier}"></td>					
				</tr>
				<tr>
					<td>배송번호</td>
					<td th:text="${vo2.delivery_num}">배송번호</td>
				</tr>
				<tr>
					<td>받는사람</td>
					<td th:text="${vo2.member_id}">받는사람</td>
				</tr>
				<!-- <thead>
					<tr>
					<th>번호</th>
					<th>제품명</th>
					<th>주문번호</th>
					<th>배송추적번호</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>[[${vo2.delivery_num}]]</td>
						<td>[[${vo2.product_name}]]</td>
						<td>[[${vo2.order_num}]]</td>
						<td>[[${vo2.tracking_num}]]</td>       
					</tr>
				</tbody> -->
			</table>
		</div>
</body>
</html>