<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5" th:fragment="footer">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">ZERO-C</h1>
                        <p class="text-secondary mb-0">zerowaste products</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item1">
                    <h6 class="text-light mb-3">회사명 (주)제로씨</h4>
                    <h6 class="text-light mb-3">대표자 김아무개</h4>
                    <h6 class="text-light mb-3">이메일 zeroc@xxxx.com</h4>
                    <h6 class="text-light mb-3">고객센터 02-xxx-xxx</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
            <div class="footer-item2">
                    <h6 class="text-light mb-3">팩스 xxxx-xxxx-xxxx</h4>
                    <h6 class="text-light mb-3">사업자 등록번호 xxx-xxx-xxxx</h4>
                    <h6 class="text-light mb-3">주소 서울시 강남구 역삼로 xxx</h4>
                    <h6 class="text-light mb-3">평일 9:00 - 18:00 토/일 휴무</h4>                
                </div>
            </div>            
        </div>
    </div>
</div>