<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>MemberJoin Page</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

$(function (){

    console.log("ready...");

    $("#btn_idCheck").click(function(){
        console.log("click...")
        let url2="http://localhost:8832/api/idCheck";
        $.ajax({
            url:url2,
            data:{member_id:$("#member_id").val()},
            type:"get",
            dataType:"json",
            success:function(response){
                console.log(response)
                let text="";
                if(response.result==="OK"){text="사용가능한 아이디"}
                else text="중복된 아이디"
                $("#result").html(text);
            },
            error:function (ex){
                console.log(ex)
            }
        });
    });
});
</script>   
</head>
<body>

	<h1>회원 가입</h1>
	
	<form action="/member/m_insertOK" method="post">
	<table border="1">
    	<tr>
        <th>아이디</th>
        <td><input type="text" id="member_id" name="member_id" value="hello" placeholder="아이디를 입력하세요">
         	<input type="button" id="btn_idCheck" value="중복체크">
            <span id="result"> 사용가능 or 중복된 아이디</span></td>
        </tr>
        
		 <tr>
        <th>비밀번호</th>
        <td><input type="text" id="pw" name="pw" value="hi1234" placeholder="비밀번호를 입력하세요"></td>
        </tr>
        
        <tr>
        <th>이름</th>
        <td><input type="text" id="name" name="name" value="kim" placeholder="이름을 입력하세요"></td>
        </tr>
        
        <tr>
        <th>이메일</th>
        <td><input type="text" id="email" name="email" value="aaa@bbb.com" placeholder="이메일을 입력하세요"></td>
        </tr>
        
        <tr>
        <th>전화번호</th>
        <td><input type="text" id="phone_number" name="phone_number" value="012-3456-7889" placeholder="전화번호를 입력하세요"></td>
        </tr>
        
        <tr>
        <th>회원주소</th>
        <td><input type="text" id="address" name="address" value="Busan" placeholder="주소를 입력하세요"></td>
        </tr>
        
        <tr>
			<td colspan="2"><input type="submit" value="가입완료"></td>
		</tr>
                
	</table>
	</form>

	
</body>
</html>