<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>MemberJoin Page</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- 구글 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"  crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS 라이브러리 -->
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- 부트스트랩 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- 템플릿 CSS파일 -->
    <link href="/css/style.css" rel="stylesheet">
    
    <style>


.memberjoin-wrapper{
    display: grid;
	place-items: center;

	
	
}
.memberjoin-wrapper2{
    display: grid;
	place-items: center;
	min-height: 35dvh;
	
 }

.content{
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	border-radius: 20px;
	width: 700px;

	position: relative;
}

.memberjoin-wrapper2 > h1{
    font-size: 30px;
    color: #81c408;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.memberJoin > input{
    width: 100%;
    height: 40px;    
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-size: 12pt;
}
.memberJoin > input::placeholder{
    color: #D2D2D2;
    font-size: 16px;
}

#memberjoin-form{
	width: 400px;
}
.memberjoin-btn{
	height: 40px;
	margin-bottom: 10px;
	font-size: 10pt;
}

.item{
	padding-bottom: 20px;
	
}

span{
	color: green;
}
.pw-under-text{
	color: red;
	font-size: 10pt;
	
}

.hide{
	display: none;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

$(function (){

    console.log("ready...");

    $("#btn_idCheck").click(function(){
        console.log("click...")
        let url2="http://localhost:8832/api/idCheck";
        $.ajax({
            url:url2,
            data:{member_id:$("#member_id").val()},
            type:"get",
            dataType:"json",
            success:function(response){
                console.log(response)
                let text="";
                if(response.result==="OK"){text="사용가능한 아이디"}
                else text="사용 불가능한 아이디"
                $("#result").html(text);
            },
            error:function (ex){
                console.log(ex)
            }
        });
    });
});
</script>   
</head>
<body>
	<!-- 헤더 시작 -->
	 <div th:replace="~{header_community :: header}"></div>
    <!-- 해더 끝 -->

<div class="container my-4 " th:fragment="content" style = "padding-top : 160px; padding-bottom : 50px; ">

	<div class="memberjoin-wrapper">
	<div class="content">
	<div class="memberjoin-wrapper2">

	<h1>회원 가입</h1>
	
	<form id="memberjoin-form" action="/member/m_insertOK" method="post" class="needs-validation" novalidate>
		
		<div class="item">
			<label for="member_id" class="form-label">아이디</label>
			<div class="row">
				<div class="memberJoin col-md-8">
		        <input type="text" class="form-control" name="member_id" id="member_id" value="hello" style="float:left" placeholder="아이디를 입력하세요" required>
		        <div class="invalid-feedback">아이디를 입력해주세요</div>
		        </div>
		        <div class="col-md-4 d-flex">
		     	<button type="button" id="btn_idCheck" class="memberjoin-btn btn btn-primary text-white mx-1">중복체크</button><br>
		     	</div>
	     	</div>
	        <span id="result"> </span>
        </div>
        
        <div class="item">
	        <label for="pw" class="form-label"> 비밀번호</label>
	        <div class="memberJoin">
	        	<input type="password" class="form-control" name="pw" id="pw" value="hi1234" placeholder="비밀번호를 입력하세요" required>
	        	<div class="invalid-feedback pw-under-text ">비밀번호를 입력해주세요</div>
	        	<div class="invalidPW pw-under-text hide">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</div>
	        </div>
	        
        </div>
        
        <div class="item">
        	<label for="pwCheck" class="form-label"> 비밀번호 확인</label>
	        <div class="memberJoin">
	        	<input type="password" class="form-control" name="pwCheck" id="pwCheck" value="hi1234" placeholder="비밀번호를 입력하세요" required>
	        	<div class="invalid-feedback ">비밀번호를 입력해주세요</div>
	        	<div class="wrongPW pw-under-text hide ">비밀번호가 일치하지 않습니다.</div>
	        </div>
        
        </div>
		
		<div class="item">
			<label for="name" class="form-label"> 이름</label>
			<div class="memberJoin">
	        	<input type="text" class="form-control" name="name" id="name" value="kim" placeholder="이름을 입력하세요" required>
	        	<div class="invalid-feedback">이름을 입력해주세요</div>
	        </div>
		</div>
       
       	<div class="item">
	       	<label for="email" class="form-label">이메일</label>
		    <div >
		    <div class="emailCheck-text col-md-8">
        		<input type="email" class="form-control" name="email" id="email" value="zerocfinal33@naver.com" style="float:left" placeholder="이메일을 입력해주세요" required>
        		<div class="invalid-feedback">이메일을 입력해주세요</div>
        	</div>
        	<div class="col-md-4 d-flex">
        		<button type="button" class="memberjoin-btn btn btn-primary text-white mx-2 w-100" id="sendEmailCode" >인증번호 받기</button>
        	</div>
	    <div class="emailCheck-text col-md-8">
        		<input type="text" class="form-control" name="verificationCode" id="verificationCode" style="float:left" placeholder="이메일 인증 코드를 입력해주세요">
        	</div>
        	<div class=" col-md-4 d-flex">
        		<button type="button" class="memberjoin-btn btn btn-primary text-white mx-2 w-100" id="checkEmailCode" >인증번호 확인</button>
        	</div>
	    </div>
       	</div>
    
    	<div class="item">
	        <label for="phone_number" class="form-label"> 전화번호</label>
	        <div class="memberJoin">
	        	<input type="text" class="form-control" name="phone_number" id="phone_number" value="012-3456-7889" placeholder="전화번호를 입력하세요">
			</div>
		</div>
		
		<div class="item">
        <label for="postcode" class="form-label"> 회원주소</label>
        	<div class="memberJoin">
        		<div class="row">
	        		<div class="memberJoin col-md-7">
			       	<input type="text" class="form-control" id="postcode" name="postcode" style="float:left" placeholder="우편번호">
			       	</div>
			       	<div class="col-md-5 d-flex">
			       	<button type="button" onclick="execDaumPostcode()" class="memberjoin-btn btn btn-primary text-white mx-2 w-100" >우편번호 찾기</button><br>
			       	</div>
		       	</div>
		       	<input type="text" class="form-control" id="address" name="address" placeholder="주소"><br>
		       	<input type="text" class="form-control" id="address_detail" name="address_detail" placeholder="상세주소">
		    </div>
        </div>
        
		<button type="submit" class="btn btn-primary w-100 text-white my-2 " disabled='disabled' id="memberJoinOK" >가입완료</button>
		
                
	
	</form>
	</div>
	</div>
	</div>
	
	</div>
	
	<!-- 비밀번호 유효성 검사 -->
	<script>
		// 1. 비밀번호 입력창 정보 가져오기
		let elInputPassword = document.querySelector('#pw'); 
		// 2. 비밀번호 확인 입력창 정보 가져오기
		let elInputPasswordRetype = document.querySelector('#pwCheck'); 
		// 3. 실패 메시지 정보 가져오기 (비밀번호 불일치)
		let elMismatchMessage = document.querySelector('.wrongPW');
		// 4. 실패 메시지 정보 가져오기 (8글자 이상, 영문, 숫자, 특수문자 미사용)
		let elStrongPasswordMessage = document.querySelector('.invalidPW'); 
		
		//비밀번호 유효성 검사
		function strongPassword (str) {
			  return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(str);
			}
		//비밀번호 확인
		function isMatch (password1, password2) {
			  return password1 === password2;
			}
		
		//비밀번호 유효성 검사 이벤트
		elInputPassword.onkeyup = function () {

			  // console.log(elInputPassword.value);
			  // 값을 입력한 경우
			  if (elInputPassword.value.length !== 0) {
			    if(strongPassword(elInputPassword.value)) {
			      elStrongPasswordMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
			    }
			    else {
			      elStrongPasswordMessage.classList.remove('hide'); // 실패 메시지가 보여야 함
			    }
			  }
			  // 값을 입력하지 않은 경우 (지웠을 때)
			  // 모든 메시지를 가린다.
			  else {
			    elStrongPasswordMessage.classList.add('hide');
			  }
			};
			
			//비밀번호 확인 이벤트
			elInputPasswordRetype.onkeyup = function () {

				  // console.log(elInputPasswordRetype.value);
				  if (elInputPasswordRetype.value.length !== 0) {
				    if(isMatch(elInputPassword.value, elInputPasswordRetype.value)) {
				      elMismatchMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
				    }
				    else {
				      elMismatchMessage.classList.remove('hide'); // 실패 메시지가 보여야 함
				    }
				  }
				  else {
				    elMismatchMessage.classList.add('hide'); // 실패 메시지가 가려져야 함
				  }
				};
	
	</script>
	
	<!-- 이메일 인증 -->
	<script>

			let code="";
			const target = document.getElementById('memberJoinOK');
			// 이메일 인증번호
			$("#sendEmailCode").click(function() {
				email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;		//이메일 패턴
				var email = document.getElementById("email").value;
				
				//이메일 유효성 검사
				if(email_regex.test(email)){ 	//유효성 검사 통과
					$.ajax({
					      type : "POST",
					      url : "/login/mailConfirm",
					      data : {
					         "email" : $("#email").val()
					      },
					      success : function(data){
					    	 if(data=="-1"){
					    		 alert("사용할 수 없는 이메일 입니다.")
					    	 }else{
					    		 alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
						         code=data; 
					    	 }
					         
					      }
					   })
				}else{	//유효성 검사 통과 X
					alert("이메일 형식이 올바르지 않습니다.")
				}
			   
			})
			
			$("#checkEmailCode").click(function() {
				if(!$("#verificationCode").val()){
					alert("인증번호가 입력되지 않았습니다.");
				}else chekEmailConfirm(code, $("#verificationCode"));
				
			})
			
			// 이메일 인증번호 체크 함수
			function chekEmailConfirm(data, $memailconfirm){
					
				if (data != $("#verificationCode").val()) { //
					
					console.log("인증코드 불일치")
					alert("인증코드가 일치하지 않습니다.")
					target.disabled=true;
					
				} else {
					console.log("data:"+data);
					console.log("인증 완료")
					document.getElementById('email').readOnly = true;
					const result2=document.getElementById('result').innerHTML;
					if(result2=="사용가능한 아이디"){
						target.disabled=false;
						}
					else{
						alert("아이디 중복 확인 후 다시 이메일을 인증해주세요.")
					}
					
					
				
				}
			}
				
			</script>
	
	<!-- 우편번호 찾기 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	    function execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수
	
	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	
	           
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('postcode').value = data.zonecode;
	                document.getElementById("address").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("address_detail").focus();
	            }
	        }).open();
	    }
	</script>
	
	<!-- Footer Start -->
	<div th:replace="~{footer :: footer}"></div>
	<!-- Footer End -->
	<!-- 폼 유효성 검증 스크립트 (부트스트랩 제공)-->
    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                        	event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
	
</body>
</html>