<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이 페이지</title>
</head>

<body>
<!-- 프로필 영역 -->
<div class="profile">
    <p th:text="${member_id} + '님의 마이페이지'"></p>
    <h3>내 포인트</h3>
    <p th:text="${points}+' 점'"></p>
</div>
<div>
<p><a href="/cart/selectAll">내 장바구니</a></p>
<p><a href="/like/selectAll">내 찜 목록</a></p>
<p><a href="/order/selectAll">구매내역</a></p>
<p><a href="/order/selectOne">취소/교환/환불/반품내역</a></p>
<p><a href="/delivery/d_selectAll">배송조회</a></p>
<p><a href="/review/mySelectAll">내가 쓴 리뷰</a></p>
<p><a href="/coupon/selectAll">내가 보유한 쿠폰</a></p>
<p><a href="/user/myUpdate">내 정보 수정 및 관리</a></p>
</div>
</body>
</html>