<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>

</head>
<body>

	<h1>아이디찾기</h1>
	
	<form action="/member/selectIdCheck" method="post">
  	<table>
	    <tr>
	      <th>이름</th>
	      <td><input type="text" name="name" id="name" value="User01"> </td>
	    </tr>
	    <tr>
	      <th>이메일</th>
	      <td><input type="text" name="email" id="email" value="user01@example.com"> </td>
	    </tr>
	    <tr>
	      <td colspan="2"><input type="submit" value="확인"> </td>
	    </tr>

  	</table>

</form>
 

	
</body>
</html>