<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 상세 - 관리자 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .section-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .details {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
        .details label {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .details div {
            margin-bottom: 15px;
        }
        .btn-group {
            margin-top: 10px;
        }
        .customer-center {
            margin-top: 20px;
        }
    </style>
</head>
<body>
			
    <div class="container">
        <!-- 주문 상세 -->
        <div class="order-details">
            <div class="section-title">주문 상세</div>
            <div class="details">
                <div>
                    <label>주문번호:</label>
                    <span>[[${order.merchant_uid}]]</span>
                </div>
                <div>
                    <label>회원ID:</label>
                    <span>[[${order.member_id}]]</span>
                </div>
                <div>
                    <label>사용한 쿠폰 코드:</label>
                    <span>[[${order.coupon_code}]]</span>
                </div>
                <div>
                    <label>사용한 포인트:</label>
                    <span>[[${order.points}]]</span>
                </div>
                <div>
                    <label>우편번호 :</label>
                    <span>[[${order.postcode}]]</span>
                </div>
                <div>
                    <label>주소:</label>
                    <span>[[${order.address}]]</span>
                </div>
                <div>
                    <label>상세한 주소:</label>
                    <span>[[${order.address_detail}]]</span>
                </div>
                <div>
                    <label>연락처:</label>
                    <span>[[${order.tel}]]</span>
                </div>
                <div>
                    <label>배송 요청 사항:</label>
                    <span>[[${order.delivery_memo}]]</span>
                </div>
                <div>
                    <label>주문 상태:</label>
                    <span>[[${order.order_state}]]</span>
                </div>
                <div class="section-title">주문한 상품 목록</div>
            <table class="item-table">
                <thead>
                    <tr>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>가격</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${order_item}">
                        <td>[[${item.product_num}]]</td>
                        <td>[[${item.product_name}]]</td>
                        <td>[[${item.quantity}]]</td>
                        <td>[[${item.price}]]원</td>
                    </tr>
                </tbody>
            </table>
 
            </div>           
        </div>

        <!-- 결제 상세 -->
        <div class="payment-details mt-5">
            <div class="section-title">결제 상세</div>
            <div class="details">
                <div>
                    <label>아임포트 고유결제번호:</label>
                    <span>[[${payment.imp_uid}]]</span>
                </div>
                <div>
                    <label>결제금액:</label>
                    <span>[[${payment.paid_amount}]]원</span>
                </div>
                <div>
                    <label>결제수단:</label>
                    <span>[[${payment.pay_method}]]</span>
                </div>
                <div>
                    <label>결제날짜:</label>
                    <span>[[${payment.pay_date}]]</span>
                </div>
                <div>
                    <label>결제상태:</label>
                    <span>[[${payment.pay_status}]]</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>