<div class="container-fluid fixed-top" th:fragment="header">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">서울특별시 강남구 언주로 508(역삼동, 서울상록회관)</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Multicampus Corporation@Example.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">개인정보보호정책</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">이용약관</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">판매 및 환불</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="../../home" class="navbar-brand"><h1 class="text-primary display-6">ZERO-C</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">제품</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            
                            <a href="/product/showSearchList?searchWord=주방" class="dropdown-item">주방</a>
                            <a href="/product/showSearchList?searchWord=욕실" class="dropdown-item">욕실</a>
                            <a href="/product/showSearchList?searchWord=볼펜" class="dropdown-item">문구</a>
                            <a href="/product/showSearchList?searchWord=여행" class="dropdown-item">여행</a>
                            <a href="/product/showSearchList?searchWord=비건" class="dropdown-item">비건</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">커뮤니티</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <a href="/community/recycleLife/selectAll" class="dropdown-item">나의 재활용 라이프</a>
                            <a href="/community/recycleTip/selectAll" class="dropdown-item">재활용품 분리방법 팁</a>
                            <a href="/community/donateItem/d_selectAll" class="dropdown-item">기부가능 물품</a>
                            <a href="/community/help/selectAll" class="dropdown-item">고객센터</a>
                        </div>
                    </div>
                    <a href="/community/notice/selectAll" class="nav-item nav-link">공지사항</a>
                    <a href="/community/event/selectAll" class="nav-item nav-link">이벤트</a>
                </div>
                <div class="d-flex m-3 me-0" style = "margin-right: 20px !important">
                    <!-- <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button> -->
					<div class="top-link pe-2" style="background-color: #81c408; width: 100px; height: 50px; display: flex; align-items: center; justify-content: center; border-radius: 25px; margin-right: 20px !important">
					    <div sec:authorize="isAnonymous()">
						    <a href="/member/m_login" class="text-white">
						        <small class="text-white ms-2">로그인</small>
						    </a>
						</div>
						<div sec:authorize="isAuthenticated()">
						    <a href="/logout" class="text-white">
						        <small class="text-white ms-2">로그아웃</small>
						    </a>
					    </div>
					</div>
                    <!-- <a href="#" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a> -->
                    <a href="/user/myPage" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <form action="/product/showSearchList" style = "margin-bottom : 15px !important;">
    
   	<!-- <select name="searchKey">
		<option value="company">제조사</option>
		<option value="product_name">상품이름</option>
	</select> -->
	<div class="position-relative mx-auto" style = "margin-left : 350px !important;">
		<select name="searchKey" class="btn btn-secondary dropdown-toggle me-2" style = "display : none">
            <option value="product_name">상품이름</option>
        </select>
        <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="text" name="searchWord" placeholder="Search">
        <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Search</button>
    </div>
    </form>
</div>