<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제로씨 쇼핑몰</title>  
</head>
<body>
    <header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <a href="home">제로씨 쇼핑몰</a>
            <div>
                <a href="/user/login">로그인</a>
                <a href="/user/myPage">마이 페이지</a>
                <a href="/admin/home">관리자 페이지</a>
            </div>
        </div>

        <form action="/product/show">
            <input type="text" name="searchWord" placeholder="검색어를 입력하세요">
            <input type="submit" value="검색">
        </form>
        
  	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	    제품
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" href="#">베스트셀러</a></li>
	    <li><a class="dropdown-item" href="#">주방</a></li>
	    <li><a class="dropdown-item" href="#">욕실</a></li>
	    <li><a class="dropdown-item" href="#">문구</a></li>
	    <li><a class="dropdown-item" href="#">여행</a></li>
	    <li><a class="dropdown-item" href="#">비건</a></li>    
	  </ul>
	  
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	    커뮤니티
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
		    <li><a class="dropdown-item" href="/community/recycleLife/selectAll">나의 재활용 라이프</a></li>
		    <li><a class="dropdown-item" href="/community/recycleTip/recycletip">재활용품 분리방법 팁</a></li>
		    <li><a class="dropdown-item" href="/community/donateItem/selectAll">기부가능 물품</a></li>
		    <li><a class="dropdown-item" href="/community/help/help">고객센터</a></li>   
		  </ul>
		  
		  <button type="button" class="btn btn-primary">
		     공지사항
		  </button>
		  <button type="button" class="btn btn-primary">
		     이벤트
  		</button>
	</div>
       
    </header>
</body>
</html>