<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>DonateItem</title>

 <!-- Modal css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 
</head>
<body>

	<h1>기부가능 물품 신청 상세</h1>
	<div>
	<table border="1">
    	<tr>
        <th>제목</th>
        <td>[[${vo2.donateItem_title}]]</td>
        </tr>
        
        <tr>
        <th>물품명</th>
        <td>[[${vo2.donateItem_item}]]</td>
        </tr>
        
        
        <tr>
        <th>물품 정보</th>
        <td>[[${vo2.donateItem_content}]]</td>
        </tr>
        
        <tr>
        <th>이미지</th>
        <td colspan=6><img th:src="|/uploadimgPath/${vo2.donateItem_img}|" width="300"></td>
        </tr>
        
        <tr>
        <th>작성일자</th>
        <td>[[${vo2.donateItem_wdate}]]</td>
        </tr>
        
        <tr>
        <th>처리상태</th>
        <td>[[${vo2.donate_state}]]	
        </td>
        </tr>
          
        
	</table>
	
	<!-- 게시글 삭제 -->
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
 	 글 삭제
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">기부가능 물품 신청 내역 삭제</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        신청 내역을 삭제하시겠습니까?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
	        <button type="button" class="btn btn-primary" onclick="clickDel(deleteForm)">예</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<form name="deleteForm">
		<input type="hidden" id="donateItem_num" name="donateItem_num" th:value="${vo2.donateItem_num}">
	</form>
	
	<script>
		function clickDel(formName){
			formName.action = "/donateItem/d_deleteOK";
			formName.method="post";
			formName.submit();
		}
	
	</script>

	<!-- 처리상태 변경 -->
	<form action="/donateItem/d_updateOK">
	<input type="radio" value="승인" name="donate_state"> 승인 </input>
	<input type="radio" value="거절" name="donate_state"> 거절 </input>
	<input type="radio" value="처리중" name="donate_state"> 처리중 </input>
	<input type="hidden" name="donateItem_num" id="donateItem_num" th:value="${vo2.donateItem_num}">
	<input type="submit" value="확인"> 
	</form>
	
	
	<!-- Modal js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
</body>
</html>