<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>rl_delete.html</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<h1>재활용 라이프 글 삭제</h1>

	<div th:fragment="content">

		<div>
			<form action="/community/recycleLife/rl_deleteOK" method="post">
				<input type="hidden" name="recycleLife_num" th:value="${param.recycleLife_num}">
				<table id="insertTable">
					<tr>
						<th>[[${param.recycleLife_num}]]번글을 정말 삭제하시겠습니까?<input type="submit"
							value="삭제완료"></th>
					</tr>
				</table>
			</form>
		</div>


	</div>

</body>
</html>