<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Login Page</title>
</head>
<body >
<h1>관리자 로그인</h1>

	<form action="/admin/ad_loginOK" method="post">
	  <table>
	    <tr>
	      <th>ID</th>
	      <td><input type="text" name="member_id" id="member_id" value="user03"> </td>
	    </tr>
	    <tr>
	      <th>PW</th>
	      <td><input type="password" name="pw" id="pw" value="password003"> </td>
	    </tr>
	    <tr>
	      <td colspan="2"><input type="submit" value="로그인"> </td>
	    </tr>
	
	  </table>
	
	</form>

	
</body>
</html>