<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<!-- Modal css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 
</head>
<body>

	<h1>회원 상세</h1>
	<div>
	<table border="1">
    	<tr>
        <th>회원번호</th>
        <td>[[${vo2.member_num}]]</td>
        </tr>
        
        <tr>
        <th>아이디</th>
        <td>[[${vo2.member_id}]]</td>
        </tr>
        
        
        <tr>
        <th>이름</th>
        <td>[[${vo2.name}]]</td>
        </tr>
        
        
        <tr>
        <th>비밀번호</th>
        <td>[[${vo2.pw}]]</td>
        </tr>
        
        <tr>
        <th>이메일</th>
        <td>[[${vo2.email}]]	
        </td>
        </tr>
        
        <tr>
        <th>전화번호</th>
        <td>[[${vo2.phone_number}]]	
        </td>
        </tr>
        
        <tr>
        <th>주소</th>
        <td>[[${vo2.postcode}]] [[${vo2.address}]] [[${vo2.address_detail}]]	
        </td>
        </tr>
        
        <tr>
        <th>회원가입 일시</th>
        <td>[[${vo2.signup_date}]]	
        </td>
        </tr>
        
        <tr>
        <th>보유 포인트</th>
        <td>[[${vo2.points}]]	
        </td>
        </tr>
        
        <tr>
        <th>관리자 여부</th>
        <td>[[${vo2.adCheck}]]	
        </td>
        </tr>
          
        
	</table>

	<a th:href="|/admin/ad_update?member_num=${vo2.member_num}|">회원 수정</a>
	
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
 	 회원 삭제
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">회원 삭제</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        정말 회원(회원 번호: [[${vo2.member_num}]], ID: [[${vo2.member_id}]] )을 삭제하시겠습니까?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
	        <button type="button" class="btn btn-primary" onclick="clickDel(deleteForm)">예</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<form name="deleteForm">
		<input type="hidden" id="member_num" name="member_num" th:value="${vo2.member_num}">
	</form>
	
	<script>
		function clickDel(formName){
			formName.action = "/admin/ad_deleteOK";
			formName.method="post";
			formName.submit();
		}
	
	</script>
	
	
<!-- Modal js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	

	
</body>
</html>